<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>cursoruiviewservice-watchdog</string>
  <key>Program</key>
  <string>__INSTALL_DIR__/cursoruiviewservice-watchdog.command</string>
  <key>WorkingDirectory</key>
  <string>__INSTALL_DIR__</string>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/cursoruiviewservice-watchdog.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/cursoruiviewservice-watchdog.log</string>
  <key>ProcessType</key>
  <string>Background</string>
  <key>LowPriorityIO</key>
  <true/>
</dict>
</plist>
